
/*MAIN GALLERY --------------------------------------------------------------------------------*/


  #gallery{
    position: absolute;
    width: 300px;
    left: 870px;
    top: 1800px;


  }

  #galleryTitle h1{
  	position: absolute;
	color:#990000;
	top: 0px;
	left: 10px;
	font-size: 30px;
	text-decoration: none;
  }

  

  #galleryBG{
  	position: absolute;
	width: 320px;
	height: 300px;
	left: 860px;
	top: 1700px;
	background: url(src/small.png);
	border-radius: 20px;
	box-shadow: 10px 10px 5px #888888;

  }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(src/mainGallery/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }


    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

/*MAIN GALLERY --------------------------------------------------------------------------------*/