#title{
	position: absolute;
	font-size: 38px;
	top: -15px;
	left: -190px;
	margin-top: 20px;
	height: 70px;
	width: 680px;
	margin-bottom: 30px;
	line-height:40px;
}

#title:first-letter{
	position: absolute;
	margin-left: 30px;
	
}

#Npic{
	position: absolute;
	top: 140px;
	left: 30px;
	height: 350px;
	width: 480px;

}

#date{
	position: absolute;
	width: 200px;
	left: 270px;
	top: 80px;
	font-size: 12px;
}

#Ntext{
	position: absolute;
	width: 600px;
	height:600px;
	top: 500px;
	left: 30px;
	font-size: 15px;
	line-height:25px;
}

#Ntext:first-letter{
	position: absolute;
	font-size: 60px;
	margin-left:24px ;
	color: red;
}