/* Small focus news------------------------BUSSINES-------------------------------------*/

.Chetno{
	background: url(src/small.png) repeat scroll 0 0;
	position: block;
	margin-top:200px;
	margin-left:480px;
	margin-bottom: -650px;
	width: 300px;
	height:350px;
	color:red;
	border-radius: 20px;
	box-shadow:10px 10px 5px #888888;

}

.Nechetno{
	background: url(src/small.png) repeat scroll 0 0;
	position: block;
	margin-top:700px;
	margin-left:140px;
	margin-bottom: -550px;
	width: 300px;
	height:350px;
	color:red;
	border-radius: 20px;
	box-shadow:10px 10px 5px #888888;

}


.titleMini{
	position: block;
	margin-top:150px;
	margin-left:10px;
	text-decoration: none;
	list-style: none;
	font-size: 30px;
	color:#990000;
}

.table{
	position: block;
	top: 55px;
}

.mini1{
	position: block;
	width:300px;
	height: 90px;
	left: 40px;
	margin-top: 30px;
}

.mini2{
	position: block;
	width:300px;
	height: 90px;
	left: 40px;
}

.miniPic img{
	position: block;
	width:70px;
	height:70px;
	margin-top: 20px;
	left:-20px;
}


.minitext:hover, .titleMini:hover{
	text-decoration: underline;
	
}

.Zaglavie{
	position: block;
	margin-top: 50px;
	margin-bottom: 10px;
	text-decoration: none;
	color:red;
}

.Zaglavie:hover{
	text-decoration: underline;
}